{{!-- en el action del form va la url con el metodo POST
aqui hace referencia el router.post("/register") del sessions.js
es un metodo post porque voy a enviar a ese endpoint la informacion del formulario
por eso busco la ruta donde lo voy a enlasar en este caso "/api/sessions/register"
 --}}

<h2>Registro</h2>
<form action="/api/sessions/register" method="POST">
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" required>
    <label for="last_name">Apellido:</label>
    <input type="text" name="last_name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="age">Edad:</label>
    <input type="number" name="age" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Registrarse</button>
</form>
<a href="/login">Iniciar sesión</a>